numpy~=1.23.5
scipy~=1.10.1
librosa>=0.9.1
soundfile~=0.12.1
soundcard~=0.4.3
resampy>=0.2.2
numba>=0.53.0
pydub~=0.25.1
matplotlib~=3.7.1
pillow>=10.0.1
tqdm~=4.66.2
visualdl~=2.5.3
pyyaml~=6.0
scikit-learn~=1.2.2
torchinfo~=1.8.0
loguru~=0.7.3
yeaudio~=0.0.7

torch~=2.5.1+cu121
torchaudio~=2.5.1+cu121
pyroomacoustics~=0.8.3
setuptools~=68.2.2
watchdog~=6.0.0